*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    display: flex;
    justify-content: center;
}
form{
    border: 1px solid black;
    background-color: whitesmoke;
    margin: 2vh

}

button{
    margin: 2vh;
}
div{
    margin: 2vh;
}